#panel
  width 20%
  float left
  background-color #9FBFE4
  border-right 1px solid darken(#9FBFE4, 20%)

  #panel-header-container
    height 30px
    width 100%
    flexbox(flex)
    justify-content(space-between)

    #panel-header
      padding-top 10px
      font-size 1.3em
      text-transform capitalize

    #panel-plus
      padding-top 10px
      height 20px
