#sidebar
  width 7%
  height 100%
  background-color #29C8E1
  float left
  flexbox(flex)
  flex-direction(column)
  text-align center

.icon-img
  width 60%
  opacity .5
  cursor pointer

  &.selected
    opacity 1

.icon-tutorial
  align-self(end)
  margin-top auto
  padding-bottom 10px

.icon-tasks
  padding-top 10px
