.project-header
  width 100%
  height 40px
  background-color lighten(#29C8E1, 10%)
  flexbox(flex)
  
  .img-container
    width 20%
    
    img
      width 50%

  .non-picture-els
    width 80%

    .progress-bar
      flexbox(flex)
      flex-direction(row)
      border 1px solid black

      .progress-bar-item
        width 100%
        
        &.done
          background-color black
