.project-header
  width 100%
  height 60px
  background-color lighten(#29C8E1, 10%)
  flexbox(flex)
  cursor pointer
  z-index 10

  .img-container
    width 20%

    img
      width 50%

  .edit-container
    width 10%
    display flex
    justify-content center
    align-items center

    img
      width 60%

  .non-picture-els
    width 80%

    .project-title
      padding-top 5px
      padding-bottom 5px

    .progress-bar
      flexbox(flex)
      flex-direction(row)
      border 1px solid black

      .progress-bar-item
        width 100%

        &.done
          background-color black


.dependency
  stroke black
  stroke-width 3
  cursor pointer
  
.dependency:hover
  stroke #CCC
  
.arrowHead:hover
  stroke #CCC
  
.tooltip
  height 100px
  width 100px
  position fixed
  flexbox(flex)
  user-select none
  user-drag none
  -moz-user-select none
  -webkit-user-drag none
  -webkit-user-select none
  -ms-user-select none
  box-shadow 5px 5px 5px #666
  z-index 100

  .column
    flexbox(flex)
    flex-direction(column)

    .item
      background-color white
      border 1px solid black
      width 50px
      height 50px
      flexbox(flex)
      justify-content(center)
      align-items(center)

      img
        height 80%

      &.done
        border-top-left-radius 8px

      &.drag
        border-top-right-radius 8px

      &.important
        border-bottom-left-radius 8px

      &.delete
        border-bottom-right-radius 8px

.sticky-view
  position fixed
  height 70px
  width 150px
  padding 5px
  background-color #29C8E1
  border 1px solid black
  z-index 100

  .sticky-buttons
    flexbox(flex)
    justify-content(space-around)

    .sticky-cancel, .sticky-done
      width 70px
      height 30px
      background-color lighten(#29C8E1, 80%)
      border 1px solid #29C8E1
      text-align center
      cursor pointer
