@import 'includes/**'
@import 'components/**'
@import 'node_modules/react-selectize/themes/index.css'

#app, #main
  height 100%
  width 100%
  flexbox(flex)
  position fixed

body
  font-family Calibri
