@import 'includes/**'
@import 'components/**'
@import 'node_modules/react-selectize/themes/index.css'

#app, #main
  height 100%
  width 100%
  padding 0px 0px
  margin 0px 0px
  flexbox(flex)
  position fixed
