@import 'includes/**'
@import 'components/**'

#app, #main
  height 100%
  width 100%
  flexbox(flex)
  position fixed

body
  font-family Calibri
  
  textarea, input
    border none
    border-radius 4px
