#notif-filter-container
  width 100%
  flexbox(flex)
  flex-direction(row)
  flex-wrap(nowrap)

  .notif-filter-option
    width 100%
    height 30px
    border 1px solid darken(#9FBFE4, 20%)
    cursor pointer

    &.selected
      background-color darken(#9FBFE4, 20%)

#notif-filter-alarm-img
  height 100%
  width auto
