.form-group
  flexbox(flex)
  flex-direction(row)
  justify-content(space-between)
  padding-bottom 20px

  .form-button
    width 70px
    height 30px
    background-color lighten(#29C8E1, 80%)
    border 1px solid #29C8E1
    text-align center
    cursor pointer

  textarea, input
    background-color lighten(grey, 80%)

  .form-aligned-col1
    flex-grow 1
    width 100%

  .form-aligned-col2
    flex-grow 2
    width 100%
    flexbox(flex)
    flex-direction(row)
    justify-content(space-between)

  .form-aligned-col2-check
    width 10%

  .form-aligned-col2-text
    width 90%

    .form-aligned-col2-pick
      width 90%
      border 1px solid grey
      background-color lighten(gray, 80%)
      flexbox(flex)
      flex-direction(row)
      justify-content(space-between)

      .record-text
        outline none
        border none
        height 100%
        width 90%

      .icon-img
        height 100%
        width 10%

  .form-aligned-col2-list
    width 100%
    flexbox(flex)
    flex-direction(column)
    justify-content(space-between)

#task-or-proj-container
  padding-top 5px
  width 100%
  flexbox(flex)
  flex-direction(row)
  flex-wrap(nowrap)
  text-align center

  .option
    background-color lighten(#29C8E1, 80%)
    width 100%
    height 60px
    border 1px solid darken(#9FBFE4, 20%)
    cursor pointer

    &.selected
      background-color darken(#9FBFE4, 20%)

.form-title-container
  width 100%
  height 70px
  text-align center

  #form-title
    outline none
    border none
    font-style italic
    font-size 1.8em
    width auto

  #form-title:focus
    outline none
    border none
