.form-group
  padding-top 10px
  flexbox(flex)
  flex-direction(row)
  justify-content(space-between)
  padding-bottom 20px

  .form-button
    width 70px
    height 30px
    background-color lighten(#29C8E1, 80%)
    border 1px solid #29C8E1
    text-align center
    cursor pointer

  #delete-button
    width 100px
    color red
    font-weight bold

  input
    height 20px
    font-size 1em
    background-color lighten(grey, 80%)

  textarea
    height 40px
    font-size 1em
    background-color lighten(grey, 80%)

  .form-aligned-col1
    font-size 1em
    width 30%

  .form-aligned-col2
    width 70%
    flexbox(flex)
    flex-direction(row)
    justify-content(space-between)

  .form-aligned-col2-check
    width 10%

  .form-aligned-col2-text
    text-size 1em
    width 90%

  .form-aligned-col2-pick
    width 90%
    border 1px solid grey
    background-color lighten(gray, 80%)
    height 90%
    flexbox(flex)
    flex-direction(row)
    justify-content(space-between)

  .sticky
    outline none
    border none
    background-color transparent

    .date
      outline none
      border none
      height 100%
      width 90%

    .icon-img
      height 100%
      width 10%

    .trash
      height 60%

  .form-aligned-col2-notif
    width 90%
    height 40px
    flexbox(flex)
    flex-direction(row)
    justify-content(space-between)

    .notif-num
      width 12%

    .notif-dropdown
      width 40%

    .notif-text
      width 40%

  .form-aligned-col2-list
    width 70%
    flexbox(flex)
    flex-direction(column)
    justify-content(space-between)

    .form-aligned-col2-list-item
      width 100%
      flexbox(flex)
      flex-direction(row)
      justify-content(space-between)
      padding-bottom 5px

#task-or-project-container
  padding-top 5px
  margin-right 50px
  margin-right 50px
  width 100%
  flexbox(flex)
  flex-direction(column)

  #task-or-project-header
    flexbox(flex)
    justify-content(center)
    align-items(center)
    height 80px
    background-color lighten(#29C8E1, 80%)
    border 1px solid darken(#9FBFE4, 20%)

  #option-containers
    flexbox(flex)
    flex-direction(row)

    .option
      background-color lighten(#29C8E1, 80%)
      width 100%
      height 30px
      border 1px solid darken(#9FBFE4, 20%)
      cursor pointer
      flexbox(flex)
      justify-content(center)
      align-items(center)

      &.selected
        background-color darken(#9FBFE4, 20%)

.avatar-img
  height 100px
  width 100px

.hoverInput input
    position absolute;
    z-index 2
    opacity 0

.hoverInput:hover
    background #CCC

.form-title-container
  padding-top 30px
  width 100%
  height 70px
  text-align center

  .form-title
    outline none
    border none
    font-style italic
    font-size 1.8em
    width auto

  .form-title:focus
    outline none
    border none
