.add-box
  background-color darken(#9FBFE4, 20%)
  height 20px
  cursor pointer
  text-align center
  
#members-box
  flexbox(flex)
  flex-direction(column-reverse)
  flex-wrap nowrap
  width 80%
  align-items center
  border 1px darken(#9FBFE4, 20%)
  > div
    display inline-block
    overflow hidden
    margin 3px
    padding 5px
    width 100%
    border 1px darken(#9FBFE4, 20%)
    background-color #9FBFE4


.remove-member
  background transparent
  color #FF6F00
  font-size 14px
  cursor pointer