.progress-bar-item
  height 20px

.project-container
  width 400px
  margin-left 20px
  
  .project-box
    height 500px
    width 100%
    background-color lighten(#29C8E1, 20%)
    border-right 1px solid #29C8E1
    box-shadow inset 0px 3px 5px #666
    
    .project
      position relative
      height 100%
      width 100%
      
.task-circle
  height 100px
  width 120px
  background-color white
  border 1px solid blue
  position absolute
  border-radius 200px
  flexbox(flex)
  justify-content(center)
  align-items(center)
  user-select none
  user-drag none
  -moz-user-select none
  -webkit-user-drag none
  -webkit-user-select none
  -ms-user-select none
  padding 20px
  box-shadow 3px 3px 5px #666
  
  .task-description
    flexbox(flex)
    flex-direction(column)
    
    .sticky-plus
      padding-top 20px
      flexbox(flex)
      flex-direction(row)
      justify-content(space-around)
      
      div
        height 20px
        cursor pointer
      
        img 
          height 20px
  
  .icons-container
    align-self(flex-start)
    flexbox(flex)
    justify-content(center)
    
  img
    height 40px

.project-view-container
  flexbox(flex)
  flex-direction(row)
  flex-wrap(nowrap)
