#form-task
  height 100%
  width 100%
  border-radius 1000px
  border 2px solid #29C8E1
  flexbox(flex)
  align-items(center)
  justify-content(center)

  .form-container
    min-width 50%
    max-width 50%

#form-project
  height 100%
  width 100%
  border 2px solid #29C8E1
  margin 50px
  flexbox(flex)
  align-items(center)
  justify-content(center)

  .form-container
    min-width 50%
    max-width 50%

#form-group
  height 100%
  width 100%
  border 2px solid #29C8E1
  background-color lighten(#9FBFE4, 20%)
  flexbox(flex)
  align-items(center)
  justify-content(center)

  .form-container
    min-width 50%
    max-width 50%
